services:
  app:
    image: heliasprojectapi
    container_name: helias_app
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 8000
    depends_on:
      - db
    environment:
      - DATABASE_URL=mysql+pymysql://Tiep:tiep123@helia_database:3306/helia_database
    volumes: []
    networks:
      - backnet
      - frontnet

  db:
    container_name: helia_database
    image: mysql
    restart: unless-stopped
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: yes
      MYSQL_DATABASE: helia_database
      MYSQL_USER: Tiep
      MYSQL_PASSWORD: tiep123
    volumes:
      - C:\Users\Trieu\OneDrive\Documents\Programming\Helia's Project API\data:/var/lib/mysql
    networks:
      - backnet
    expose:
      - 3306
      - 33060

  nginx:
    build: proxy
    container_name: helia_nginx
    ports:
      - "80:80"

    depends_on:
      - app
    networks:
      - frontnet


volumes:
  mysql_data:
    driver: local

networks:
  backnet:
  frontnet:

