version: '3.4'

services:
  app:
    image: heliasprojectapi
    container_name: helias_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - db
    environment:
      - DATABASE_URL=mysql://mysql:password@db/myapp
    volumes: []
    command: waitress-serve --call app:create_app


  db:
    container_name: helia_database
    image: mysql
    restart: unless-stopped
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: yes
      MYSQL_DATABASE: helia_database
      MYSQL_USER: Tiep
      MYSQL_PASSWORD: tiep123
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
    driver: local


