version: '3.4'

services:
  app:
    image: heliasprojectapi
    container_name: helias_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - db
    environment:
      - DATABASE_URL=mysql+pymysql://Tiep:tiep123@helia_database:3306/helia_database
    volumes: []


  db:
    container_name: helia_database
    image: mysql
    restart: unless-stopped
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: yes
      MYSQL_DATABASE: helia_database
      MYSQL_USER: Tiep
      MYSQL_PASSWORD: tiep123
    volumes:
      - /mnt/volume_sfo3_01/helia_db:/var/lib/mysql
nginx:
  image: nginx:latest
  container_name: helia_nginx
  ports:
    - "80:80"
  volumes:
    - ./nginx.conf:/etc/nginx/nginx.conf:ro
  depends_on:
    - app

volumes:
  mysql_data:
    driver: local


