services:
  app:
    image: heliasprojectapi
    container_name: helias_app
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 8000
    depends_on: []
    #  - db
    environment: []
    volumes:
      - LOCAL_DRIVE:/helia_app/data
    networks:
      - backnet
      - frontnet
    restart: unless-stopped

  # db:
  #   container_name: helia_database
  #   image: mysql
  #   restart: unless-stopped
  #   environment:
  #     MYSQL_RANDOM_ROOT_PASSWORD: yes
  #     MYSQL_DATABASE: 
  #     MYSQL_USER: 
  #     MYSQL_PASSWORD: 
  #   volumes:
  #     - 
  #   networks:
  #     - backnet
  #   expose:
  #     - 3306
  #     - 33060

  nginx:
    build: proxy
    container_name: helia_nginx
    ports:
      - "80:80"

    depends_on:
      - app
    networks:
      - frontnet
    restart: unless-stopped


volumes:
  mysql_data:
    driver: local

networks:
  backnet:
  frontnet:

