body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: #f4f4f9;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
 

.container {
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Controls size of the container*/
    /*
    padding-left:25vw;
    padding-right: 25vw;
    padding-top: 25vh;
    padding-bottom: 25vh;
    */
    /*
    margin-left:25vw;
    margin-right: 25vw;
    margin-top: 25vh;
    margin-bottom: 25vh;
    */

    width: 70vw;
    height:70vh;
}

.container-text h1 {
    font-size: 35px;
    font-weight: bold;
}


/* Form for container layout*/
.container-form{
    display:flex;
    flex-direction: row;
    width: 100%;
    height:4vh;
}

.container-form [id="answer"] {
    width: 40vw;
    height:4vh;
}


.container-button {

}
h1 {
    color: #333;
    font-size: 32px;
}

h3 {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}


button {
    font-size: 18px;
    padding: 12px 24px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.button-no {
    background-color: #f44336;
}

.button-no:hover {
    background-color: #e53935;
}